.rdw-suggestion-wrapper {
  position: relative;
}
.rdw-suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #F1F1F1;
  min-width: 100px;
  max-height: 300px;
  width: 500px;
  overflow: auto;
  background: white;
  z-index: 100;
  box-shadow: 1px 2px 2px #DFDFDF;
   transform: scale(1);
   transform-origin: 1em 0% 0px;
   transition: all 0.25s cubic-bezier(0.3, 1.2, 0.2, 1) 0s;
}
.rdw-suggestion-option {
  padding: 10px 5px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.rdw-suggestion-option:hover,
.rdw-suggestion-option:active,
.rdw-suggestion-option-active {
  background-color: #F1F1F1;
}

.rdw-suggestion-option:hover .rdw-suggestion-option-text,
.rdw-suggestion-option:active .rdw-suggestion-option-text,
.rdw-suggestion-option-active .rdw-suggestion-option-text {
  background-color: #F1F1F1;
  text-decoration: underline;
}
